@import url(normalize.css);
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
  /* Color styles */
--dark-blue: rgba(49, 54, 71, 1);
--navy: rgba(67, 86, 99, 1);
--sage: rgba(163, 176, 135, 1);
--yellow: rgba(255, 248, 212, 1);
--right-green: rgba(236, 244, 232, 1);

/* Text-size styles */
--main_tt: 54px;
--section_tt: 27px;
--banner_menu: 20px;
--body: 16px;
--sub_tt: 36px;

}

/* font size */
.main_tt{
  font-size: var(--main_tt);
  font-weight: 700;
}
.section_tt{
  font-size: var(--section_tt);
}
.banner_menu{
  font-size: var(--banner_menu);
  font-weight: 700;
}
body{
  font-size: var(--body);
}
.sub_tt{
  font-size: var(--sub_tt);
}


/* 레이아웃 */
.container{
  width: 1416px;
  margin: 0 auto;
}
.hidden{
  position: absolute;
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.review-photo{
  width: 200px;
  height: 200px;
}
.small_pd{
  padding: 54px 0;
}
.big_pd{
  padding: 81px 0;
}
img{
  vertical-align: top;
}
.bt_margin{
  margin-bottom: 50px;
}